.advantages {  
    .container {
        padding: 0;        
    }
    .section__title {
        padding: 0 18px;
        @include tablet-medium {
            padding: 0;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        @include tablet-medium {
            display: block;
        }
    }             
    &__content {
        width: 50%;
        @include tablet-medium {           
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include desktop {
            width: 45%;
        }
    }  
    &__item {
        margin-top: 43px;
        text-align: center;
        padding: 0 18px;        
        @include tablet-medium {
            padding: 0;
            width: 50%;          
            margin-top: 0;  
            &:nth-child(n + 3) {
                margin-top: 38px;
            }
        }
        @include tablet-large {
            width: 48%;
        }
    }
    &__text {
        font-size: 12px;
        @include tablet-medium {
            font-size: 15px;
        }
        @include tablet-large {
            font-size: 18px;
        }        
    }
    &__background {
        position: relative;
        width: 50%;        
        @include responsive-background('mobile/advantages-bg.jpg', 'tablet/advantages-bg.jpg', 'desktop/advantages-bg.jpg');
        @include background-default;
        @include tablet-medium {
            position: absolute;
            top: 0;right: 0;         
            width: 40%;
            height: 100%;
            
        }     
        @include desktop {
            width: 45%;
        }
    }
    &__icon {
        @include tablet-large {
            img { width: 56px; }
        }
    }
}