.footer {
    color: #090413;  
    line-height: 14px;
    padding-bottom: 25px;
    @include tablet-medium {
        line-height: normal;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        @include tablet-medium {
            justify-content: space-around;
        }
    }
    &__item {
        width: 48%;
        font-size: 12px;
        @include tablet-medium {
            font-size: 18px;
        }
        @include desktop {
            &:last-child {
                text-align: right;
            }
        }
    }
    &__year {
        font-weight: 500;             
    }
    &__rules {
        text-decoration: underline;                
        a {
            color: #090413; 
        }
       
    }
    &__icons {        
        img:first-child {
            margin: 21px 0 10px;
        }
        @include tablet-medium {
            margin-top: 25px;
            display: flex; align-items: center;
            img:first-child {
                margin: 0;
                margin-right: 10px;
            }
        }
        @include desktop {
            margin-top: 0;
            img:first-child {
                width: 260px;
                margin-right: 20px;
            }
            img:last-child {
                width: 167px;
            }
        }
    }
    &__company-name {
        font-size: 14px;
        font-weight: 500;
    }
    &__rules, &__address {
        margin-top: 20px;
    }
    &__year, &__company-name {
        @include tablet-medium {
            font-size: 24px;
        }
        @include desktop {
            font-size: 18px;
        }
    }    
    &__rules {
        @include desktop {
            margin-top: 0;
            padding: 70px 0;
        }
    }
    &__address {
        @include desktop {
            margin-top: 27px;
            width: 70%;
            margin-left: auto;
        }
    }
}