.hero {
    height: 667px;
    color: white;    
    &__main, &__about, &__philosophy {
        height: 100%;
        @include img-overlay();
    }
    &__main {        
        @include responsive-background('hero-main.jpg');        
        font-weight: 300;        
        &__title {
            padding: 153px 0 20px;
            font-size: 33px;            
        }
        &__subtitle {
            font-size: 24px;
        }
        .btn {
            margin-top: 100px;
            @include mobile-medium {
                margin-top: 162px;
            }
        }
    }
    &__about {     
        font-weight: 300;
        @include responsive-background('hero-about.jpg');     
        &__title {
            font-size: 36px;
            padding-top: 73px;
        }
        &__subtitle {
            font-size: 16px;
            padding-top: 25px;
        }
        .btn {
            margin-top: 25px;
        }
    }
    &__philosophy {
        @include responsive-background('hero-philosophy.jpg');        
        &::after {
            content: '';
            position: absolute;
            bottom: 0; left: 18px;
            height: 502px; 
            width: 290px;     
            z-index: 1;      
            background-image: url('~assets/images/mobile/hero-philosophy-director.png');
            @include background-default; 
            @include mobile-medium {
                width: 301px;
            }
        }
        &__content {
            z-index: 2;
        }
        &__title {
            padding: 82px 0 210px;
            font-size: 32px;
            @include mobile-medium {
                padding: 82px 0 282px;
                font-size: 36px;
            }                        
        }
        &__words {
            font-weight: 500;
            font-size: 28px;
        }
        &__author {
            padding: 11px 0 80px;
            text-align: right;
            font-size: 18px;
        }
    }
}

.swiper-container {
    height: 100%;
    width: 100%;
}
