.hero {
    // 667
    height: 100%;
    color: white;   
    .container {
        padding-bottom: 50px;
    }    
    @include tablet-medium {
        height: 612px;
    } 
    @include desktop {
        height: 760px;
        .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
            bottom: 30px;
        }
    }
    .swiper-container {
        padding-bottom: 0;
    }
    .swiper-slide {
        height: auto;
    }
    &__main, &__about, &__philosophy {
        height: 100%;
        @include img-overlay();
    }
    &__main {        
        @include responsive-background('mobile/hero-main.jpg', 'tablet/hero-main.jpg');        
        font-weight: 300;        
        &__title {
            padding: 153px 0 20px;
            font-size: 33px;   
            @include tablet-medium {
                padding: 178px 0 27px;
                font-size: 48px;
            }       
            @include tablet-large {
                width: 80%;                
            }  
            @include desktop {
                width: 100%;
                padding: 190px 0 64px;
                font-size: 64px;
            }
           
        }
        &__subtitle {
            font-size: 24px;            
            @include tablet-medium {
                font-size: 36px;
            }      
            @include tablet-large {
                width: 90%;
            }     
            @include desktop {
                width: 70%;
                font-size: 36px;
            }
        }
        .btn {
            margin-top: 100px;
            @include mobile-medium {
                margin-top: 162px;
            }
            @include tablet-medium {
                margin-top: 83px;
            }
            @include desktop {
                margin-top: 140px;
            }
        }
        &__windows {
            pointer-events: none;
            position: absolute;
            bottom: 10%; 
            right: 5%;
            transform: translateX(50%);
            @include tablet-medium {
                bottom: 20%;
                right: 20%;
                transform: translateX(0) scale(1.2);
            }
            @include desktop {
                right: 15%;
                bottom: 25%;
                transform: translateX(0) scale(1.5);
            }
        }
    }
    &__about {     
        font-weight: 300;
        @include responsive-background('mobile/hero-about.jpg', 'tablet/hero-about.jpg');     
        &__title {
            font-size: 36px;
            padding-top: 80px;
            @include tablet-medium {
                padding-top: 98px;
                font-size: 48px;
            }
            @include desktop {
                padding-top: 132px;
                font-size: 80px;
            }
        }
        &__subtitle {
            font-size: 16px;
            padding-top: 25px;
            display: flex;
            align-items: flex-start;
            img {
                max-width: none;
                margin-right: 9px;
            }
            @include tablet-medium {
                font-size: 20px;
               
            }
            @include desktop {
                font-size: 18px;
                padding-top: 34px;
                img {
                    margin-right: 20px;
                }
            }
        }
        .btn {
            margin-top: 25px;
            @include desktop {
                margin-top: 120px;
            }
        }
    }
    &__philosophy {
        @include responsive-background('mobile/hero-philosophy.jpg', 'tablet/hero-philosophy.jpg');             
        &__content {
            height: calc(100% - 50px);
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include tablet-medium {
                display: block;
                height: auto;
            }
        }
        &__title {
            padding: 82px 0 0;
            font-size: 32px;
            @include mobile-medium {                
                font-size: 36px;
            }            
            @include tablet-medium {
                padding: 82px 0 282px;
            }           
        }
        &__quote {
            @include tablet-medium {
                padding-top: 121px;
                width: 500px;
                margin-left: auto;
            }
            @include desktop {
                padding-top: 200px;
                width: 600px;
            }
        }
        &__words {
            font-weight: 500;
            font-size: 28px;
            @include tablet-medium {
                font-size: 30px;
            }
            @include desktop {
                font-size: 36px;
            }
        }
        &__author {
            padding: 11px 0 80px;
            text-align: right;
            font-size: 18px;
            @include tablet-medium {
                font-size: 20px;
                padding: 40px 0 330px;
            }
            @include desktop {
                font-size: 24px;
                padding: 47px 0 311px;
            }
        }
      
        &__director {
            position: absolute;
            padding-bottom: 0;
            height: 100%;
            z-index: 2;
            pointer-events: none;
            top: 0; left: 0; right: 0; margin: auto;
            &__img {
                position: absolute;
                bottom: 0; left: 18px;                
                z-index: 1;                  
                @include responsive-background('mobile/hero-philosophy-director.png', 'tablet/hero-philosophy-director.png', 'desktop/hero-philosophy-director.png');
                @include background-default;               
                @include tablet-medium {
                    height: 502px; 
                    width: 290px;
                }
                @include tablet-large {             
                    left: 200px;
                }
                @include desktop {
                    left: 100px;
                    height: auto;
                    width: auto;
                }
            }
        }
        &__windows {
            pointer-events: none;
            position: absolute;
            bottom: 15%; 
            right: 5%;          
            @include desktop {
                bottom: 20%;
                right: 10%;
                transform: scale(1.5);                
            }
        }
    }
    &__quotes {
        display: flex;
        align-items: center;        
        padding: 16px 0 16px 28px;
        width: 261px;
        position: absolute;
        bottom: 0; right: 0;
        background-color: white;   
        z-index: 2;     
        img {
            cursor: pointer;
        }
        img:first-child {
            margin-right: 14px;
        }
        @include desktop {
            width: 430px;
            padding: 26px 0 26px 46px;
            img {
                width: 25px;
            }
        }
    }
}

.hero .hero__philosophy__director {
    padding-bottom: 0;
}